{% extends "master.twig" %}

{% block bodyclass %}body-home{% endblock %}

           
{% block content %}

<section class="maininfo">
    <div class="column">
        <h2>About Bolt</h2>
        <h3 class="subheader">Easy to learn, to use and adapt</h3>
        <p>Bolt allows editors to easily manage content.  The straight forward interface is easy to get used to.</p>
        <p>Bolt is an open source Content Management Tool, which strives to be as simple and straightforward as possible. It is quick to set up, easy to configure, uses elegant templates, and above all: It’s a joy to use. Bolt is created using modern open source libraries, and is best suited to build sites in HTML5 with modern markup.</p>
        <p>From a technical perspective: Bolt is written in PHP, and uses either SQLite, MySQL or PostgreSQL as a database. It’s built upon the Silex framework together with a number of Symfony components and other libraries. Bolt is released under the open source MIT-license.</p>
        <a class="button">Learn More</a>          
    </div>
    
    <div class="column">
        <h2>Who needs Bolt?</h2>
        <h3 class="subheader">Easy to learn, to use and adapt</h3>
        <p>Bolt allows editors to easily manage content.  The straight forward interface is easy to get used to.</p>
        <p>Bolt is an open source Content Management Tool, which strives to be as simple and straightforward as possible. It is quick to set up, easy to configure, uses elegant templates, and above all: It’s a joy to use. Bolt is created using modern open source libraries, and is best suited to build sites in HTML5 with modern markup.</p>
        <p>From a technical perspective: Bolt is written in PHP, and uses either SQLite, MySQL or PostgreSQL as a database. It’s built upon the Silex framework together with a number of Symfony components and other libraries. Bolt is released under the open source MIT-license.</p>
        <a class="button">Read more</a>               
    </div>
    
    <div class="column">
        <h2>Features</h2>
        <h3 class="subheader">Easy to learn, to use and adapt</h3>
        <p>Bolt allows editors to easily manage content.  The straight forward interface is easy to get used to.</p>
        <p>Bolt is an open source Content Management Tool, which strives to be as simple and straightforward as possible. It is quick to set up, easy to configure, uses elegant templates, and above all: It’s a joy to use. Bolt is created using modern open source libraries, and is best suited to build sites in HTML5 with modern markup.</p>
        <p>From a technical perspective: Bolt is written in PHP, and uses either SQLite, MySQL or PostgreSQL as a database. It’s built upon the Silex framework together with a number of Symfony components and other libraries. Bolt is released under the open source MIT-license.</p>
        <a class="button">More features</a>               
    </div>
</section>

<section class="slider">
    <div class="inner">
    
    <div class='pager'></div>
    
    <div class="cycle-slideshow"
        data-cycle-swipe='true'
        data-cycle-fx='scrollHorz'
        data-cycle-timeout='0'
        data-cycle-pager=".pager"
        data-cycle-slides="> div"
        >
        <div class="slide" data-cycle-pager-template="<a href=#>Content editor</a> ">
            <img class="slideimg" src="http://malsup.github.io/images/p1.jpg">
            <ul class="highlights">
                <li>Clear user interface</li>
                <li>Insert images easily with stack</li>
                <li>Preview your work quickly</li>
                <li>Save your work as a draft, publish at a future date or immediately</li>
            </ul>
        </div>
        <div class="slide" data-cycle-pager-template="<a href=#>User roles</a> ">
            <img class="slideimg" src="http://malsup.github.io/images/p2.jpg">
            <ul class="highlights">
                <li>Clear user interface</li>
                <li>Insert images easily with stack</li>
                <li>Preview your work quickly</li>
                <li>Save your work as a draft, publish at a future date or immediately</li>
            </ul>
        </div>
        <div class="slide" data-cycle-pager-template="<a href=#>Contenttypes</a> "> <img src="http://malsup.github.io/images/p3.jpg"></div>
        <div class="slide" data-cycle-pager-template="<a href=#>Twig templates</a> "> <img src="http://malsup.github.io/images/p1.jpg"></div>
        <div class="slide" data-cycle-pager-template="<a href=#>The Stack</a> "> <img src="http://malsup.github.io/images/p2.jpg"></div>
        <div class="slide" data-cycle-pager-template="<a href=#>Relations &amp; Taxonomies</a> "> <img src="http://malsup.github.io/images/p3.jpg"></div>
    </div>
    
    </div>
</section>

<section class="secinfo">
    <div class="column">
        <h2>About Bolt</h2>
        <h3 class="subheader">Easy to learn, to use and adapt</h3>
        <p>Bolt is an open source Content Management Tool, which strives to be as simple and straightforward as possible. It is quick to set up, easy to configure, uses elegant templates, and above all: It’s a joy to use. Bolt is created using modern open source libraries, and is best suited to build sites in HTML5 with modern markup.</p>
        <a class="button">Learn More</a>               
    </div>
    
    <div class="column">
        <h2>Who needs Bolt?</h2>
        <h3 class="subheader">Easy to learn, to use and adapt</h3>
        <p>Bolt is an open source Content Management Tool, which strives to be as simple and straightforward as possible. It is quick to set up, easy to configure, uses elegant templates, and above all: It’s a joy to use. Bolt is created using modern open source libraries, and is best suited to build sites in HTML5 with modern markup.</p>
        <a class="button">Read more</a>               
    </div>
    
    <div class="column">
        <h2>Features</h2>
        <h3 class="subheader">Easy to learn, to use and adapt</h3>
        <p>Bolt is an open source Content Management Tool, which strives to be as simple and straightforward as possible. It is quick to set up, easy to configure, uses elegant templates, and above all: It’s a joy to use. Bolt is created using modern open source libraries, and is best suited to build sites in HTML5 with modern markup.</p>
        <a class="button">More features</a>               
    </div>
</section>



{% endblock content %}

{% block footer_extra_scripts %}
    <script src="{{paths.theme}}scripts/picturefill.js"></script>
    <script src="{{ paths.theme }}scripts/cycle2.min.js"></script>
    <script src="{{ paths.theme }}scripts/cycle2.swipe.min.js"></script>
{% endblock %}